name: GitHub Activity

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: JamesIves/github-activity-readme@main
        with:
          GH_USERNAME: MarioPerezHamm
