name: GitHub Activity

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Update README
        uses: JamesIves/github-activity-readme@v0.4.6
        with:
          GH_USERNAME: MarioPerezHamm
